USE [master]
GO
/****** Object:  Database [exrate]    Script Date: 05-May-21 11:27:02 PM ******/
CREATE DATABASE [exrate]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'exrate', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\exrate.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'exrate_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\exrate_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [exrate].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [exrate]
GO
/****** Object:  Table [dbo].[Exchange_rate]    Script Date: 05-May-21 11:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exchange_rate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CurrentCode] [nvarchar](50) NOT NULL,
	[CurrentName] [nvarchar](50) NULL,
	[Buy] [nvarchar](50) NULL,
	[Tranfer] [nvarchar](50) NULL,
	[Sell] [nvarchar](50) NULL,
	[ModifyDate] [datetime] NULL,
 CONSTRAINT [PK_Exchange_rate] PRIMARY KEY CLUSTERED 
(
	[CurrentCode] ASC,
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 05-May-21 11:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](30) NULL,
	[password] [nvarchar](255) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Exchange_rate] ON 

INSERT [dbo].[Exchange_rate] ([id], [CurrentCode], [CurrentName], [Buy], [Tranfer], [Sell], [ModifyDate]) VALUES (21, N'AUD', N'AUSTRALIAN DOLLAR', N'17,380.96', N'17,556.52', N'18,106.92', CAST(N'2021-03-23T02:29:59.000' AS DateTime))
INSERT [dbo].[Exchange_rate] ([id], [CurrentCode], [CurrentName], [Buy], [Tranfer], [Sell], [ModifyDate]) VALUES (41, N'AUD', N'AUSTRALIAN DOLLAR', N'17,380.96', N'17,556.52', N'18,106.92', CAST(N'2021-03-23T02:30:32.000' AS DateTime))
INSERT [dbo].[Exchange_rate] ([id], [CurrentCode], [CurrentName], [Buy], [Tranfer], [Sell], [ModifyDate]) VALUES (61, N'AUD', N'AUSTRALIAN DOLLAR', N'17,387.71', N'17,563.34', N'18,113.95', CAST(N'2021-03-23T16:31:49.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Exchange_rate] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([userID], [username], [password]) VALUES (1, N'Hoang', N'123')
INSERT [dbo].[User] ([userID], [username], [password]) VALUES (2, N'Linh', N'123')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
USE [master]
GO
